body{
    font-family: Raleway;
}

nav{
    padding-left:30px !important;
    padding-right:30px !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 1000;
    background-color: #00bcd4;
    -webkit-transition: background-color 0.3s ease-in-out 0s;
    transition: background-color 0.3s ease-in-out 0s;  
}

nav ul li a{
    color:black; 
}
p{
    font-size: 1.25em;
}
.hide-background{
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out 0s; 
    transition: background-color 0.3s ease-in-out 0s; 
}

.boxed-content{
    padding: 20px;
    margin: 20px;
}

.boxed-content-white{
    border: 5px solid white;
}

.boxed-content-black{
    border: 5px solid black;
}

.margin-0{
    margin: 0px !important;
}

.padding-10{
    padding: 10px !important;
}

.padding-20{
    padding: 20px !important;
}

.custom-group{
    padding:0px !important;
}

.custom-group .custom-group-content{
    margin: 30px !important;
}

.icon{
    max-height: 150px;
    max-width: 150px;
}

.icon-2x{
    max-height: 300px;
    max-width: 300px;
}

.parallax-banner{
    height: 100vh !important;
}

.parallax-page-title{
    height: 250px !important;
}

.parallax-section-title{
    height: 120px !important;
}

.nav-wrapper{
    max-height:auto !important;
}

.brand-logo{
    max-height: 55px !important;
    margin: 0 auto !important;
    margin: 3px !important;
}

.arrow_box {
	position: relative;
	background: #f5f5f5;
	border: 4px solid #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

.arrow_box:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    border-bottom: 20px solid #f5f5f5;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
	margin-left: -18px;
}

.slide-indicator{
    background-color: white;
    content: " ";
    width: 15px;
    height: 15px;
    display: inline-block;
}
.slide-indicator.active{
    background-color: #bdbdbd;
}

.slide{
    display: none;
}

.tabs .tab a{
    color:#0097a7;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#006064;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}
.tabs .indicator {
	background-color:#006064;
}

@font-face{
    font-family: Raleway;
    src: url("../fonts/Raleway/Raleway-Regular.ttf")
} 